header {
  background-image: url('/img/gen/Sky_Road.jpg');
  background-position:center top;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
}

#package-title {
  text-align:center;
  font-family: "Palatino Linotype",Georgia,serif;
  font-weight: normal;
  text-transform:lowercase;
  color:#434343;
  margin: 0;
  position: relative;
  top: 129px;
}
#package-title #package-title-first {
  font-style: italic;
  font-size: 0.8em;
  display: block;
  line-height: 0.6em;
}
#package-title #package-title-last {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
}

#nameplate {
  margin-top: 1%;
  display: block;
  position: absolute;
  margin-left: 9px;
}

.caption-rollover {
  position: absolute;
  right: 0;
  bottom:0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caption-rollover.closed {
  right:-300px;
}
.caption-rollover .caption-button {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #070904;
  display: block;
  padding: 7px 0;
  color: white;
  font-family: Georgia,serif;
  font-weight: bold;
  font-style: italic;
  float:left;
}
.caption-rollover .caption {
  display: block;
  width: 300px;
  margin-left: 30px;
  padding-left: 5px;
  background-color: #070904;
  color: white;
  font-size: 0.75em;
  line-height: 1.3em;
  padding: 14px;
}
.caption-rollover .credit {
  display: block;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: right;
}


/* Use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {
  header {
    min-height:400px;
  }
}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

