body {
  background-color:#ececec;
}

a {
  color:#879C04;
}
a:hover, a:focus {
  color: #9CB40A;
}
a:visited {
  color:#631092;
}

.clear {
  width:100%;
  clear:both;
  display:block;
}

header {
  background-image: url('../img/gen/Sky_Road.jpg');
  background-position:center top;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  min-height:400px;
  overflow:hidden;
}

#package-title {
  text-align:center;
  font-family: "Palatino Linotype",Georgia,serif;
  font-weight: normal;
  text-transform:lowercase;
  color:#434343;
  margin: 0;
  position: relative;
  top: 129px;
}
#package-title #package-title-first {
  font-style: italic;
  font-size: 0.8em;
  display: block;
  line-height: 0.6em;
}
#package-title #package-title-last {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
}

#nameplate {
  margin-top: 1%;
  display: block;
  position: absolute;
  margin-left: 9px;
}

.caption-rollover {
  position: absolute;
  right: 0;
  bottom:0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caption-rollover.closed {
  right:-300px;
}
.caption-rollover .caption-button {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #070904;
  display: block;
  padding: 7px 0;
  color: white;
  font-family: Georgia,serif;
  font-weight: bold;
  font-style: italic;
  float:left;
}
.caption-rollover .caption {
  display: block;
  width: 300px;
  margin-left: 30px;
  padding-left: 5px;
  background-color: #070904;
  color: white;
  font-size: 0.75em;
  line-height: 1.3em;
  padding: 14px;
}
.caption-rollover .credit {
  display: block;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: right;
}

nav ul {
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: #070904;
  color:white;
}
nav ul li {
  display: inline-block;
  margin: 0;
}
nav ul li a {
  padding: 10px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.04em;
  display:inline-block;
  opacity:0.5;
  border-top: 2px solid #070904;
  border-right: 1px solid #070904;
  border-left: 1px solid #070904;
  margin:0 10px;
}
nav ul li a:visited {
  color:white;
}
nav ul li a:hover {
  color:#eee;
}
nav ul li.active a, nav ul li a:hover {
  border-top: 2px solid white;
}
nav ul li.active a {
    opacity:1;
}

article {
  font-family:Georgia, serif;
}
.headline {
  background-color:#1b1d0f;
  color:white;
  text-align:center;
  position:relative;
}
.headline h2 {
  margin:0;
  color:white;
  font-family:Georgia, serif;
  font-weight: normal;
  font-size: 2.0em;
  padding: 16px 0;
  letter-spacing: 0.03em;
  text-shadow: 0 0 1px black;
}
.headline .head-info {
  font-size: 0.9em;
  padding-bottom: 20px;
}
.headline .head-info .byline {
  text-transform: uppercase;
  display: inline-block;
  padding-right: 5px;
}
.headline .head-info .date {
    display: inline-block;
    padding-left: 5px;
}

.subhead {
  margin:20px 0;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 1.2em;
  line-height: 1.2em;
  font-style: italic;
  color: #1b1d0f;
}
.subhead hr {
  position: absolute;
  border-color: #1b1d0f;
  left: 0;
  right: 0;
}
.subhead .columns {
  background-color: #ececec;
}

#about-bridget {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}
#about-bridget p {
  margin-bottom:0.5em;
}

.story-drop p:first-child:first-letter {
  font-weight:bold;
  font-size: 5em;
  float: left;
  line-height: 1em;
  display: inline-block;
  margin-right: 10px;
  color:#1b1d0f;
}
.story p {
  font-size: 1.1em;
  line-height: 1.7;
}

figure {
  text-align:right;
}
figure figcaption {
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  line-height:1.2;
}
figure figcaption .credit {
  display: block;
  text-transform: uppercase;
  font-size: 0.5em;
  margin-bottom: 0.5em;
}

aside.pull-quote {
  background-image: url('../img/gen/Lake_Malawi.jpg');
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.7);
  margin:15px 0;
  position:relative;
  overflow:hidden;
}
aside.pull-quote .quote {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 150px;
  font-size: 1.5em;
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
  top: 30%;
  position: relative;
  text-align: center;
}
aside.pull-quote .quote:before {
  content:"“";
  display:block;
  float:left;
}
aside.pull-quote .quote:after {
  content:"”";
  display:block;
  float:right;
}
aside.pull-quote .quote:before, aside.pull-quote .quote:after {
  font-weight:bold;
  font-size:2em;
  text-shadow: 0 0 1px rgba(255,255,255,0.2);
}
aside.pull-quote .quote .quote-credit {
  font-size: 0.6em;
  display: block;
  position: relative;
  height: 0;
  top: 13px;
  text-align: right;
  margin-right: 50px;
  font-weight: bold;
}

footer {
  background-color:#1b1d0f;
  color:white;
  text-align:center;
  padding:20px 0;
}
footer .footer-links {
  list-style: none;
  text-align:center;
  color:rgba(255,255,255,0.8);
}
footer .footer-links li {
  display:inline-block;
}
footer .footer-links li:after {
  content: "|";
}
footer .footer-links li:last-child:after {
  content: "";
}
footer .footer-links li a {
  color:rgba(255,255,255,0.8);
  text-transform:uppercase;
  font-size:0.8em;
  padding:10px;
  padding-right:12px;
}
footer .footer-links li a:hover {
  color:white;
}
footer #footer-nameplate {
  margin-top: 40px;
  display: block;
  opacity:0.5;
}
footer .copyright {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, serif;
  opacity: 0.5;
  font-size: 0.7em;
  margin-top: 5px;
  line-height: 1.2;
  font-style: italic;
}
footer .copyright .copyright-bridget {
  display:block;
}
footer .copyright a, footer .copyright a:visited, footer .copyright a:visited, footer .copyright a:active {
  color:white;
  text-decoration:underline;
}

.edinote {
  background-color: #ddd;
  padding: 10px 20px;
  margin: 18px 0;
  font-family: "Helvetica Neue","Helvetica",Arial, sans-serif;
  font-size: 0.8em;
}
.edinote h4 {
  font-style:italic;
  font-weight:normal;
  font-size: 2em;
  color: #777;
  font-family: "Palantino Linotype", "Palatino", Georgia, serif;
  line-height: 1em;
}
.edinote p {
  margin-bottom: 0.6em;
  color: #444;
}

.otherstory {
  width: 10em;
  position: absolute;
  height: 100%;
  background-color: rgba(255,255,255,0.05);
  display:block;
  color:#ddd;
  box-sizing:border-box;
  padding:20px;
  text-align: right;
  top:0px;
}
.otherstory.next {
  right:0;
}
.otherstory.prev {
  left:0;
}
.otherstory:visited {
  color:#ddd;
}
.otherstory:hover {
  background-color: rgba(255,255,255,0.1);
}
.otherstory .kicker {
  display: block;
  font-weight:bold;
  font-size:0.8em;
  text-transform:uppercase;
  opacity:0.8;
  font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;
}
.otherstory.next .kicker:after {
  content:" →";
}
.otherstory.prev .kicker:before {
  content:"← ";
}
.otherstory .shorttitle {
  margin-top:0.8em;
  display:block;
  font-style:italic;
}
.otherstory.bottom {
  display: block;
  color: #333;
  background-color: #e2e2dd;
  width: 40%;
  float: right;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 30px;
  text-align: right;
  position: static;
  font-family: Georgia, serif;
}
.otherstory.bottom.next {
  float:right;
}
.otherstory.bottom.prev {
  float:left;
}
.otherstory.bottom .shorttitle {
  font-size:1.3em;
  margin-top:0.5em;
}
.otherstory.bottom:visited {
  color:#333;
}
.otherstory.bottom:hover {
  background-color:#d6d7d1;
}



/* Use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Overrides for small screens only */
@media only screen and (max-width: 767px) {
  aside.pull-quote {
    background-position: center center !important;
  }
  aside.pull-quote .quote {
    width: 100%;
    margin: 5px 0;
    padding: 0;
    top: 37px;
  }
  footer .copyright {
    width:80%;
  }
  #about-bridget {
    margin: 20px;
    opacity: 0.8;
    margin-bottom: 30px;
  }
  .otherstory {
    display:block;
    width:100%;
    position:static;
    float:none;
  }
  .otherstory.bottom {
    width:100%;
  }
  #nameplate {
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: 0;
    padding: 5px;
  }
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {
  #about-bridget {
    margin-top:50px;
  }
  figure {
    width: 500px;
    float: right;
    margin-left: -130px;
    position: relative;
    left: 150px;
  }
  figure figcaption {
    width: 150px;
    float: right;
    position: absolute;
    right: 0;
    font-size: 0.8em;
    margin-top: 8px;
  }
  .edinote .edinote-note {
    column-count:2;
    -webkit-column-count:2;
    -moz-column-count:2;
  }
  .headline {
    padding:0 10em;
  }
}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

