RewriteEngine On
RewriteBase /

RewriteCond %{REMOTE_ADDR} ^41\.70\. [OR]
RewriteCond %{REMOTE_ADDR} ^41\.75\. [OR]
RewriteCond %{REMOTE_ADDR} ^41\.87\. [OR]
RewriteCond %{REMOTE_ADDR} ^41\.221\. [OR]
RewriteCond %{REMOTE_ADDR} ^105\.234\. [OR]
RewriteCond %{REMOTE_ADDR} ^196\.220\. [OR]
RewriteCond %{REMOTE_ADDR} ^197\.211\. [OR]
RewriteCond %{REMOTE_ADDR} ^197\.220\.
RewriteRule ^img/photo/(.*)$ img/photo2/$1 [NC,L]

# Only allow access to css, img, and js directories
RewriteRule ^css/    -   [L]
RewriteRule ^img/    -   [L]
RewriteRule ^js/     -   [L]


# Add trailing slash if missing
RewriteRule ^(([a-z0-9\-]+/)*[a-z0-9\-]+)$ $1/ [NC,R=302,L]

# Pass everything else to PHP as /section/story/
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/$   index.php?part=$1&story=$2 [L]
RewriteRule ^([a-z0-9\-]+)/$ index.php?part=$1 [L]
